.apartmentTypeButton {
    cursor: pointer;
    height: 20px;
    padding: 7px 10px;
    font-size: smaller;
    font-weight: 500;
    color: #005999;
    border: 1px solid #005999;
    border-radius: 25px;
}

.apartmentTypeButton.selected {
    background-color : #005999;
    color: #ffffff;
}

.apartmentTypeButton.selected:hover {
    background-color : #005999;
    color: #ffffff;
    cursor: auto;
}