.createOfferMainContainer {
    display: flex;
    justify-content: center;
    padding-top: 78px;
    padding-bottom: 78px;
}

.createOfferForm {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    width: 732px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 16px;
}

.title {
    color: #4d4d4d;
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
}

.introduction {
    width: 100%;
    color: #4d4d4d;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.dividerWrapper {
    width: 100%;
    padding: 16px;

}

.divider {
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;

}

.textInputContainer {
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 100%;
}
.paddingForAdditional{
    padding-bottom: 15px;
}
.formSubtitle {
    width: 100%;
    color: #999;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}
.aditionalSubtitle{
    width: 100%;
    color: #4d4d4d;
    font-family: Helvetica;
    font-size: 24px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}
.textInput{
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    padding-right: 8px;
    border: 1px solid;
    border-radius: 3px;
}

.textInput:hover {
    border: 1px solid #005999;
    outline: 3px solid #b3dfff;

}

.textInput::placeholder {
    color: #4d4d4d;
}

.apartmentTypeSelectionContainer {
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 100%;
}

.apartmentTypeSelectionButtons {
    display: flex;
    gap: 11px;
    width: auto;
}

.rentSpecification {
    width: 100%;
}

.nativeRadioButtonLabel {
    display: flex;
    align-items: center;
    gap: 11px;
    color: #000;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.ctaButtons {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-top: 10px;
    align-items: center;
    width: 100%;
}

.primaryButtonWide {
    background-color: #ff3377;
    border-radius: 4px;
    color: #ffffff;
    width: 200px;
    height: 46px;
font-family: Helvetica;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */

}

.secondaryButtonWide {
    background-color: #ffffff;
    border-radius: 4px;
    border: 2px solid #ff3377;
    color: #ff3377;
    width: 200px;
    height: 46px;
font-family: Helvetica;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */

}

.offerDescription {
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    padding-left: 10px;
    padding-top: 6px;
    border: 1px solid;
    border-radius: 3px;
}

.description:hover {
    border: 1px solid #005999;
    outline: 3px solid #b3dfff;

}

.specificationsContainer {
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 100%;
}

.checkBoxes {
    display: flex;
    gap: 11px;
    width: auto;
}

.picturesContainer {
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 100%;
}

.picturesUpload {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.picturesUpload:hover {
    border: 1px solid #005999;
    outline: 3px solid #b3dfff;
    background-color: #e2e2e2;

}