.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    border-radius: 6px;
    border: 0px solid;
    color: #999999;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.iconButton:hover {
    color: #4d4d4d;
}

.sendButton:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    border-radius: 6px;
    border: 0px solid;
    color: #fff;
    background: #ff3377;
}