.itemPageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff0f5;
    padding-top: 32px;
    padding-bottom: 32px;

}

.itemPageCard {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.itemPageContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 46px;
    padding-bottom: 46px;
}

.itemPageHeaderSection{
    width: 310px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.itemNameBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Helvetica;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
}

.itemName{
    font-size: 24px;
    color: #333333;
}
.actionsBox {
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.action{
    padding: 10px;
    font-family: Helvetica;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}

.itemImgCarousel{
    border-image: fill;
    /*width: 650px;*/
    width: 100%;
    height: auto;
    display: block;
    justify-content: center;
    padding-bottom: 15px;
}

.itemImgCarousel img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
}

.itemPageSubSubContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15px;
}

.landlordAndAction{
    width: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;
}

.landlordInfo {
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.landlordImg img {
    padding-top: 2px;
    width: 45px;
}

.landlordNameCheck{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contactAction{
    margin: auto 0px auto 0px;
    background-color: #ff3377;
    border-radius: 4px;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    height: 46px;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.information{
    width: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.description{
    width: 120px;
}
.description h3 {
    padding-bottom: 15px;
}
.valuesBox{
    min-width: 220px;
    min-height: 220px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}
.values{
    padding: 15px 10px 10px 10px;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.price{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #1A1A1A;
font-family: Helvetica;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}
.priceValue{
    font-size: 28px;
    font-weight: 700;
}
.apartmentValues{
    height: 60px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid #1A1A1A;
}
.rentTerms{
    height: 60px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid #1A1A1A;
}
.posted{
    height: 30px;
}

.apartmentSpec{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.specTitle{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.specList{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.specBox{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 25px;
}

@media (min-width: 768px) {
    .itemPageContent {
        width: 900px;
    }

    .itemPageHeaderSection{
        width: 900px;
        height: 24px;
    }
    .itemImgCarousel{
        width: 900px;
        height: 600px;
    }
    .itemPageContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #fff0f5;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .information{
        width: 900px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .landlordAndAction{
        width: 900px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 25px;
    }
    .description{
        width: 600px;
    }
}