.frontPageMainContainer {
    display:  flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F0F9FF;
    padding-bottom: 23px;
}

.wrapCardContainer {
    display:  flex;
    flex-wrap: wrap;
    
    background-color: #F0F9FF;
    min-height: 40rem;
    padding-left: 23px;
    padding-right: 23px;
    gap: 16px;
}

:where(.css-dev-only-do-not-override-amq5gd).ant-modal .ant-modal-content{
    padding: 0;
    margin: auto;
    width: 730px;
    display: flex;
    flex-direction: column;
}
.ant-modal-footer{
    display: none;
}
.filteringContainer {
    left: auto;
    right: auto;
    z-index: 0;
    top: 82px;
    min-width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}

.filteringWindow { 
    padding: 5px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.filteringWidnowTitle {
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.horisontalLine hr{
    margin: 0 auto;
    width: 692px;
    color: #D9D9D9;
}

.placeholderAndClose {
    width: 700px;
    padding: 10px 10px 10px 0px;
    margin: auto;
    overflow: hidden;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.locationSearch {
    padding-top: 10px;
    width: 700px;
    height: 65px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.typeSearch {
    padding-top: 15px;
    width: 700px;
    height: 85px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dada{
    appearance: none;
}
.apartmentSelector {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
}

.radioButton {
    cursor: pointer;
    height: 20px;
    padding: 7px 10px;
    font-size: smaller;
    font-weight: 500;
    color: #005999;
    border: 1px solid #005999;
    border-radius: 25px;
}
.selectedRadioButton{
    background-color : #005999;
    color: #ffffff;
}
.priceSearch {
    padding-top: 15px;
    width: 700px;
    height: 60px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

:where(.css-dev-only-do-not-override-amq5gd).ant-slider .ant-slider-track {
    color: #ff3377;
    background-color: #ff3377;
}
:where(.css-dev-only-do-not-override-amq5gd).ant-slider:hover .ant-slider-track {
    color: #ff3377;
    background-color: #ff3377;
}
:where(.css-dev-only-do-not-override-amq5gd).ant-slider .ant-slider-handle::after {
    box-shadow: 0 0 2px #ff3377;
    color: #ff3377; 
}

:where(.css-dev-only-do-not-override-amq5gd).ant-slider:hover .ant-slider-handle::after {
    box-shadow: 0 0 2px #ff3377;
    color: #ff3377; 
}

:where(.css-dev-only-do-not-override-amq5gd).ant-slider .ant-slider-handle:hover::after, :where(.css-dev-only-do-not-override-amq5gd).ant-slider .ant-slider-handle:active::after, :where(.css-dev-only-do-not-override-amq5gd).ant-slider .ant-slider-handle:focus::after{
    box-shadow: 0 0 0 4px #ff3377;
    color: #ff3377;
}
.filterfFormElement input{
    width: 690px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid;
    border-radius: 3px;
}

.filterButton {
    padding-top: 15px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.filterModalButton{
    background-color: #ff3377;
    border-width: 0px;
    border-radius: 4px;
    color: #ffffff;
    width: 150px;
    height: 30px;
font-family: Helvetica;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
}
.filterModalButton:hover{
    background-color: #005999; 
}
.cardContainer {
    display:  flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F0F9FF;
    min-height: 40rem;
    padding-top: 23px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 23px;
    gap: 16px;
}
.pagination {
    margin: auto;
}

:where(.css-dev-only-do-not-override-amq5gd).ant-pagination .ant-pagination-item a {
    display: block;
    padding: 3px 6px;
}
.Offer-Card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 16px;
    width: 300px;
    min-height: 300px;
    max-height: 350px;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.offerContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 11px;
    padding-right: 11px;
}

.locationAndPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #1A1A1A;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    
}

.billingPeriod {
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: #4D4D4D;
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 133.333% */
}

.addressAndType {
    height: 48px;
    color: #4D4D4D;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.availabilityAndTimeStamp {
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */

}

.availability {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.availableWrapper {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.available {
    background-color: #5ad365;
    height: 12px;
    width: 12px;
    border-radius: 100%;
}

.timeStamp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}