a {
    text-decoration: none;
    color: #1A1A1A;
font-family: Helvetica;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

a:visited {
    text-decoration: none;
    color: #1A1A1A;
font-family: Helvetica;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.header {
box-sizing: border-box;
display: flex;
border-bottom: 1px solid;
border-color: #d9d9d9;
height: 82px;
padding-left: 23px;
padding-right: 23px;
}

.menu {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    box-sizing: border-box;
    display: flex;
    /* width: 275px; */
    align-items: center;
    gap: 8px;
}

.logoTextWrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.upperLogoText {
    color: #005999;
font-family: Helvetica;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 83.333% */
}

.lowerLogoText {
    color: #005999;
font-family: Helvetica;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: 20px; /* 83.333% */
}

.mainButtonContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.rightSideNav {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
}

.sublease {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.plusIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.profileIcon{
    cursor: pointer;
    width: 36px;
    height: 36px;
    background-color: #33AAFF;
    border-radius: 100%;
    text-align: center;
    line-height: 34px;
    font-family: Helvetica;
    color: white;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 36px;
}

.profileLinks {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.profileIcon:hover{
    background-color: #ff3377;
}
.dropdown-content {
    overflow: hidden;
    display: none;
    position: absolute;
    right: 0px;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: #d9d9d9;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.primaryButton {
    background-color: #ff3377;
    border-radius: 4px;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    height: 46px;
font-family: Helvetica;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */

}

.primaryButton:hover {
    background-color: #cc0044;
    border-radius: 4px;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    height: 46px;
font-family: Helvetica;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
}

.primaryButton:active {
    background-color: #cc0044;
    border-radius: 4px;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    height: 46px;
font-family: Helvetica;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
}